
.gradle
**/build/
!src/**/build/
src/main/resources/challenges
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

node_modules
venv
/.idea/workspace.xml
